/* Structure générale des sections */
header {
    height: 100vh;
    width: 100vw;
    grid-template-areas:
        "headerall"
        "content";
    overflow: hidden;
}

/* En-tête de section (20% de la hauteur) */
.headerall {
    grid-area: headerall;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background: #ffffff 0%;
    font-weight: 700;
    font-stretch: 90%;
    font-variation-settings: 'CASL' 1, 'YTAS' 650, 'YTDE' -138;
}

.navbtn {
    border: none;
    padding: 0.6rem 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav ul li a {

  font-size: 24px;
  display: inline-block;     
  transition: transform 0.3s ease;
}

nav ul li a {
    transform: scale(1.1);  /* agrandit à 110% */
}
/* Logo dans le header */
.headerall img {
    height: 100px;
    width: auto;
}

/* Contenu spécifique du header d'accueil */


