header nav ul {
    display:ruby-text;
    gap: 1.5rem;
    align-items:center;
    width: 50%
    position: relative:
    top: 800px
}

header nav ul li {
    list-style:none;
    padding:0lvb;
    border-radius: 60px;
    flex: 7
}

header nav ul li a {
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: 400;
    color: rgb(35, 148, 35);
    transition: 1s;
}

header nav ul li a:hover {
    color: var(--primary-color);
}

.navbtn {
    transition: all 0.3s ease;
}
.navbtn:hover {
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}