html, body {
  overflow: hidden;
}

.page {
  display: none;
  height: 100vh;
}

.page:target {
  display: block;
}
* {
  font-family: "Science Gothic", sans-serif;
  
}
/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Titre des sections */
.headerall2 {
    font-size: 2.5rem;
    font-weight: bold;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}


/* Bouton retour */
.returnbtn {
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.returnbtn:hover {
    transform: scale(1.15);

}


/* Structure générale des sections */
.section {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "headerall"
        "content";
    overflow: hidden;
}

/* Bordures colorées par section */



#Images {
    border-left: 8px solid #250eaa;
}

#Contact {
    border-left: 8px solid #0e925f;
}



/* Contenu des sections intérieures */
.section, .content1 {
    background-color: #eeeded;
}


