html, body{
    margin: 0;
    padding: 0;
    height: 100vh ;
}



header, #Moi, #Projet, #Cv, #Images, #Contacte {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr, 4fr;
    gap: 0;
    grid-template-areas: 
        "headerall"
        "content";
}


.content {
    grid-area: content;
    background-color: #18c753;
}

.headerall {
    grid-area: headerall;
    background-color: #6ca5df;
}

header {border-left: 8px solid #da53ad;}

#Moi {border-left: 8px solid #53da6a;}

#Projet {border-left: 8px solid #93a726;}

#CV {border-left: 8px solid #b6238a;}

#Images {border-left: 8px solid #250eaa;}

#Contacte {border-left: 8px solid #0e925f;}



